<?xml version="1.0" encoding="UTF-8"?>

<configuration>
	<appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d [%-15.15t] %-5p %-30.30c{1} - %m%n</pattern>
		</encoder>
	</appender>
	<appender name="out" class="ch.qos.logback.core.FileAppender">
		<append>true</append>
		<file>u/applic/rlog/bridge/logs/bridge.log</file>
		<encoder>
			<pattern>%d [%-15.15t] %-5p %-30.30c{1} - %m%n</pattern>
		</encoder>
	</appender>
	<logger name="org.springframework" level="INFO" />
	<logger name="org.apache.camel" level="INFO" />
	<logger name="com.walmart.rlog.bridge" level="DEBUG" />
	<root level="DEBUG">
		<appender-ref ref="stdout" />
		<appender-ref ref="out" />
	</root>
</configuration>
